version: '3'

services:
  solr1:
    build: ./solrCloud_external_zooKeeper
    container_name: solr1
    ports:
     - "8983:8983"
    environment:
      - ZK_HOST=zoo1:2181
      - SOLR_OPTS=-XX:-UseLargePages # get rid of "shared memory" warnings on Solr startup => https://solr.apache.org/guide/solr/latest/deployment-guide/docker-faq.html
    networks:
      - solr
    depends_on:
      - zoo1
    volumes:
      - solr1_data:/var/solr/data
    command:
      - solr-foreground
  zoo1:
    image: zookeeper:3.6
    container_name: zoo1
    restart: always
    hostname: zoo1
    ports:
      - 2181:2181
    environment:
      ZOO_MY_ID: 1 # To make sure zookeeper server is listen in the right ip:port add unique Id for each Zookeeper server at <dataDir>/myid file. zookeeper1:<dataDir>/myid =1 , zookeeper2:<dataDir>/myid = 2. The dataDir is defined on the zoo.cfg. In our case is /data
      ZOO_SERVERS: server.1=zoo1:2888:3888;2181
      ZOO_4LW_COMMANDS_WHITELIST: mntr, conf, ruok
      ZOO_CFG_EXTRA: "metricsProvider.className=org.apache.zookeeper.metrics.prometheus.PrometheusMetricsProvider metricsProvider.httpPort=7000 metricsProvider.exportJvmInfo=true"
      ZOO_LOG_DIR: "/logs"
    networks:
      - solr
    volumes:
      - zookeeper1_log:/logs
      - zookeeper1_data:/data
      - zookeeper1_datalog:/datalog
      - zookeeper1_wd:/apache-zookeeper-3.6.0-bin

networks:
  solr:
volumes:
  solr1_data:

  zookeeper1_data:
  zookeeper1_datalog:
  zookeeper1_log:
  zookeeper1_wd:
