---
name: Build Full Text Dev Index

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}
      -
        name: Build and push - solr 6, standalone
        uses: docker/build-push-action@v5
        with:
          context: ./solr6_standalone
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ghcr.io/hathitrust/lss-solr:unstable
            
      - name: Build and push - solr 8, standalone
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./solr8.11.2_files/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ghcr.io/hathitrust/full-text-search-solr:example-8.11
          target: standalone

      - name: Build and push - solr 8, embedded zookeeper
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./solr8.11.2_files/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ghcr.io/hathitrust/full-text-search-embedded_zoo:example-8.11
          target: embedded_zookeeper
            
      - name: Build and push - solr 8, external zookeeper
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./solr8.11.2_files/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ghcr.io/hathitrust/full-text-search-cloud:example-8.11
          target: external_zookeeper

      - name: Build and push - solr 8, external zookeeper
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./solr8.11.2_files/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ghcr.io/hathitrust/full-text-search-cloud:shards-8.11
          target: external_zookeeper_kubernetes
